flask==2.0.1
pymongo==4.0.1
python-dotenv==0.19.1
Flask-Login==0.6.2
pytest==6.2.5
pytest-cov==2.12.1
black==21.12b0
pylint==2.15.0
blinker==1.6.2
flask-wtf==1.1.1
werkzeug==2.0.3
flask-jwt-extended==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1
mongomock==4.1.2
wrapt==1.14.1
