[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
pymongo = "==4.0.1"
python-dotenv = "==0.19.1"
flask-jwt-extended = "==4.3.1"

[dev-packages]
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
black = "==21.9b0"
pylint = "==2.11.1"

[requires]
python_version = "3.11" 